body {
    margin:0;
    font-family: tahoma;
}

/* log in page detials */

#mainLogIn {
    height: 300px;
    margin: 10px;
    margin-bottom: 50px;
}

#mainContent {
    margin-top: 20px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

.block {
    height:100px;
    width:200px;
    text-align:left;
}
.center {
    margin-bottom: 50px;
}

.centerLogo h2 {
    margin-left: 50px;
    padding-top: 20px;
}

#form {
    width: 250px;
    margin: auto;
}

#logInWindow input {
    border-radius: 7px;
    border: 2px solid grey;
    padding: 5px; 
}

#logInLogo {
    width: 250px;
    padding-left: 70px;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#logInLogo h2 {
    color: white;
    width: 120px;
}

#logInLogo img {
    margin: 5px;
    width: 60px;
    float: left;
}

.logIn input[type=button] {
    background-color: #b3b3b3;
    color: white;
    width: 100px; 
    float: right;
}

.logIn input[type=text], [type=password] {
    width: 235px;
}


/* navigation bar from all pages */

.topnav {
    overflow: hidden;
    background-color: #37536D;
}

.topnav h2 {
    color: white;
    width: 120px;
    float: left;
}

.topnav img {
    margin: 5px;
    width: 60px;
    float: left;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    margin-top: 5px;
    
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 4px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

.topnav span {
    float: right;
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 45px;
} 

.empty {
    display: none;
    visibility: hidden;
}
.topnav div {
    width: 450px;
    float: right;
    margin-top: 19px;
    margin-right: 0;
    
}

/* contact.html form and general edit */

.contactForm input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contactForm input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactForm input[type=submit]:hover {
    background-color: #45a049;
}

#contactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 700px;
}

#mainContactContent {
    margin-top: 20px;
}

#objectsFilter input[type=button]:hover {
    background-color: #45a049;
}

/* index.html table of graphhics */

tableGraph {
  border-spacing: 0;
}

.graph td,th {
  padding-left: 2%;
}

.graph th {
  font-weight: bold;
  text-align: left;
}

.graph thead th {
  background-color: #999;
  color: white;
}

.graph td > div {
  float: right;
}


/* objects.html table of apartments */

#objectsContents {
    margin-top: 30px;
}

.objects { 
    width: 95%; 
    border-collapse: collapse; 
}

/* table zebra striping */

.objects tr:nth-of-type(odd) { 
    background: #eee; 
}
.objects th { 
    background: grey; 
    color: white; 
    font-weight: bold; 
}
.objects td, th { 
    padding: 10px; 
    padding-left: 10px;
    padding-right: 30px;
    text-align: center; 
}

/* filer box in the objects.html */

#objectsFilter {
    background-color: #f2f2f2;
    display: none;
    padding: 20px;
    padding-top: 5px;
    
    margin: auto;
    width: 500px;
}

#objectsFilter label {
    margin-top: 0;
}

#objectsFilter select {
    width: 250px;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
}

#objectsFilter input[type=text]{
    width: 250px;
    height: 25px;
    border-radius: 4px;
    text-decoration: none;
}

#mainContent input[type=button]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* income.html main style */

.incomeForm input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.incomeForm input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#incomeWindow {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    width: 700px;
}

.incomeForm {
    padding: 20px;
}

.incomeForm table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.incomeForm td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#newIncomeTitle {
    background-color: #37536D;
    color: white;
    width: 660px;
    margin-top: 0;
    margin-left: 0;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
}


/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1320px), (min-width: 1250px) { 
    .graph {
        
        
    }   
    
}


@media screen and (max-width: 980px) {
    .graph table, .graph thead, .graph tbody, .graph th, .graph td, .graph tr { 
        display: block; 
    }
    
    
    /* Force table to not be like tables anymore */
    .objects table, .objects thead, .objects tbody, .objects th, .objects td, .objects tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .objects thead tr {
        display: none;
    }

    .objects tr { 
        border: 1px solid #ccc; 
    }

    .objects td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    .objects td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        margin-top: 5px;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /* Label the data */
    .objects td:nth-of-type(1):before { content: "№"; }
    .objects td:nth-of-type(2):before { content: "Сграда"; }
    .objects td:nth-of-type(3):before { content: "Вход"; }
    .objects td:nth-of-type(4):before { content: "Етаж"; }
    .objects td:nth-of-type(5):before { content: "Обект №"; }
    .objects td:nth-of-type(6):before { content: "Собственик"; }
    .objects td:nth-of-type(7):before { content: "Брой Живущи"; }
    .objects td:nth-of-type(8):before { content: "Баланс"; }
    .objects td:nth-of-type(9):before { content: ""; }
    .objects td:nth-of-type(10):before { content: ""; }
    
}


@media screen and (max-width: 750px) {
    #contactForm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: 10px;
        width: auto;
    }
    
   #objectsFilter {
       margin: 20px;
       width: auto;
   }
    
  .openFilter {
    margin-left: 20px;    
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 670px) {
  .topnav {
    overflow: hidden;
    background-color: #37536D;
  }
    
  .topnav a:not(:first-child) {
    display: none;
  }
    
  .topnav a.icon {
    margin-right: 10px;
    padding: 7px 17px 7px 17px;
    float: right;
    display: block;
  }    
    
  .topnav.responsive {
      position: relative;
    }
    
  .topnav.responsive .icon {
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 0;
  }
    
  .topnav.responsive a {
      margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
      
    display: block;
    text-align: right;
    width: 50%;
  }
    
  .topnav.responsive a:hover {
    background: -webkit-linear-gradient(left, rgba(55, 83, 109, 0.5) , #ddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,rgba(55, 83, 109, 0.5) , #ddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(55, 83, 109, 0.5), #ddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(55, 83, 109, 0.5) , #ddd);  /*Standard syntax (must be last) */
  } 
    
    .topnav div {
        width: 250px;
    }
    
    #objectsFilter {
        height: 450px;
    }
    
    .topnav span {
        font-size: 90%;
    }

}


@media screen and (max-width: 460px) { 
    #objectsFilter {
        height: 500px;
    }
    
    #objectsFilter input[type=button]{
        margin: 10px;
        margin-top: 20px;
    }
    
    #objectsFilter input[type=text], #objectsFilter select{
        width: 100%;
    }
    
    /* navigation bar responsiveness */
    
    .topnav {
        height: 100px;
    }
    
    .topnav.responsive {
        height: auto;
    }
    
    .topnav .icon {
        margin-right: 10px;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 0;
      }
    
    .topnav span {
        float: left;  
        position:static;
        top: 0px;
        right: 0;
        font-size: 80%;
        margin-right: 50px;
    }
    
    .topnav.responsive .icon {
        margin-top: 10px;
    }
    
    .topnav.responsive .icon:hover {
        background-color: white;
        width: 20px;
    }
    
    .topnav.responsive a {
        margin-right: 10px;
    }
    
    .topnav div {
        width: 200px;
    }
    
    .topnav.responsive div {
        width: 300px;
        margin-top: -40px
    }
    
    .topnav h2 {
        color: white;
        width: 120px;
        float: left;
        font-size: 120%
    }

    .topnav img {
        margin: 5px;
        width: 45px;
        float: left;
    }
    
}


@media screen and (max-width: 400px) { 
    .topnav span {
        font-size: 80%;
        margin-right: 0;
    }
}
